@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-radius: 12px;

  --app-nav-width: 260px;
  --app-nav-padding: calc(var(--base-radius) * 2);

  --app-nav-border-color: rgba(224, 224, 224, 1);
  --app-content-background: rgba(255, 255, 255, 1);
  --btn-background: rgba(240, 240, 240, 1);
  --btn-box-background: rgba(240, 240, 240, 0.5);
  --btn-color: rgba(0, 0, 0, 0.8);
  --btn-active-color: rgba(0, 0, 0, 1);
}

:root[class~="dark"] {
  --app-nav-border-color: rgba(255, 255, 255, 0.1);
  --app-content-background: rgba(36, 37, 41, 1);
  --btn-box-background: rgba(53, 53, 55, 0.5);
  --btn-background: rgba(53, 53, 55, 1);
  --btn-color: rgba(253, 235, 221, 0.8);
  --btn-active-color: rgba(253, 235, 221, 1);
}
